#Home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color {
  width: 500px;
  height: 300px;
  border: 1px solid black;
}

.options {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
}

.options button {
  width: 130px;
  height: 50px;
  text-transform: uppercase;
}

.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    font-size: 30px;
}
